# current salt-version: {{ salt_version }}

master: {{ saltmaster_private_ip }}

id: {{ nodename }}

grains:
  roles:
{% for server, args in servers.iteritems() %}
{% for role in args['roles'] %}
{% if server == nodename %}
    - {{ role }}
{% endif %}
{% endfor %}
{% endfor %}

state_verbose: True
