# current salt-version: {{ salt_version }}

master: saltmaster-private

grains:
  roles:
{% for server, args in servers.iteritems() %}
{% for role in args['roles'] %}
{% if server == hostname %}
    - {{ role }}
{% endif %}
{% endfor %}
{% endfor %}
